@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline:none;
}

body {
    display: flex;
    color: #545454;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 40px;
    justify-content: center;
}

.container {

    margin: 0;
    padding:0;
    background: #bfc9c9;
    border-radius: 25px;
    height: 700px;
    width: 500px;
}
.header{
    position: relative;
    text-align: center;
    /* background: url("https://images.pexels.com/photos/3715398/pexels-photo-3715398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: auto;
    width: 100%;
    height: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px; */
}
.cover-image {
    width: 100%;
    height: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color:rgba(255, 255, 255, 0);
    width: 80%;
    height: 30px;
    font-size: 30px;
}
.activity-list {
    display: flex;
    
    margin-left: 20px;
    padding: 10px;
    /* background-color:white ; */
}

.input-field{
    display:flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 2px solid gray;
    color: #303f46
}
input:focus {
    color: #303f46;
}
.input-button{
    /* background-color: white; */
    position: relative;
    left: 30px;
}
.input-button:hover{
    /* background-color: white; */
    cursor: pointer;
    color: #303f46;
    position: relative;
    left: 30px;
}

.activity-list {
    display:inline-flex;
    flex-direction: row-reverse;
    font-size: 30px;
    padding: 20px;
    /* background:white; */
    position: relative;
    align-items: flex-end;
    align-content: space-between;
    margin: 20px;
}
.activity-title{
    /* background: black; */
    position: relative;
    left: 50px;

}
.complete-button{
    /* background:red; */
    display: inline-flex;
    align-content: flex-start;
    position: relative;
}

.complete-button:hover{
    cursor: pointer;
    color: #303f46;
}
.complete-button::selection{
    cursor: pointer;
}

.currentDate {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    color: rgb(211, 201, 201);
    text-align: center;
    max-width: 50%;
}

/* #currentDate{
    color: white;
    background: white;
} */